.mainDiv{
    background-color: #f1faee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formMainDiv{
    background-color: white;
    padding: 20px;
  
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.FDText{

    color: white;
     border-radius: 10px;
     padding: 5px;
     text-align: center;
     background-color: #84a59d;
}